body {
  background-color: #79B9C6;
  font-family: arial}


#digital-heaven {
  text-align: center;
  color: white;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-left: -283px;
  vertical-align: inherit;
  white-space: nowrap;}


#FDM {
  color: white;
  text-align: left;
  font-size: 20px;
  margin: 0 auto}


#bringing-fancy-ideas-to-life {
  text-align: center;
  font-size: 16px;
  color:#101010;
  position: absolute;
  left: 50%;
  margin-left: -126px;
  top: 27%}
  


.div1 {
  width: 140px;
  height: 35px;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 55%;
  margin-left: -70px;
  padding: 10px;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 12px;}